//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.big-header-block {
    background: #263135;
    color: white;
    height: 190px;
    width: full-width;
    margin-top: -10px;
    padding: 30px;
}


.big-header-block {
  h1, h2, p, a, a:visited {
    color: white;
  }
}

.main-body-content {
    margin-top: 20px;
}

.body-block {
    padding-top: 20px;
    padding-bottom: 10px;
}

.white-link a, a:visited {
    color: white;
}


.financial-support-checklist {
    border-top: 4px solid #00703c;
    padding-top: 15px;
}

.card {
    border-top: 1px solid  $govuk-border-colour;
    padding-top: 20px;
    padding-bottom: 30px;
}

.checklist-card {
    border-top: 2px solid #00703c;
    background:  #DCF6EA;
    padding: 12px 12px 1px 12px;
    margin: 10px 0 0px 0;
}

.checklist-card p {
    color: black;
}

.page-list a, a:visited {
color:  $govuk-link-colour;
}


.rec-block {
    background: govuk-colour("light-grey");
    padding: 10px 10px 1px 10px;
    margin-top: -10px;
}

.rec-title {
    margin-top: 20px;
}

.manage-page {
    margin-bottom: 30px;
}

.flow-block {
    background: govuk-colour("light-grey");
    padding: 30px;
    margin-bottom: 80px;
}

.spacer-1 {
    margin-top: 20px;
}

.spacer-2 {
    margin-top: 30px;
}

.spacer-3 {
    margin-top: 30px;
    margin-bottom: 50px;

}


.eligibility-calc-block {
    background: #D5EBFF;
    width: full-width;
    padding-top: 20px;
    padding-bottom: 20px;

}

.govuk-checkboxes__label:before {
    background: #fff;
}

.govuk-radios__label:before {
    background: #fff;
}

.calc-card-1 {
    background: white;
    padding: 20px;
    border-top: 3px solid #1d70b8;
    margin-bottom: 10px;
}

.calc-card-2 {
    background: white;
    padding: 20px;
    border-top: 3px solid $govuk-error-colour;
    margin-bottom: 10px;
}


.share-link {
    margin-top: 20px;
}

.content-to-show {
    display: none;
}