{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body white-link"><a href="#">Home</a></p>
                <h1 class="govuk-heading-xl">Benefits</h1>

                <p class=""govuk-body-l">Includes eligibility, appeals, tax credits and Universal Credit
                </p>
            
          </main>
        </div>
      </div>
      <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </div>
</div>
</div>
    


  <div class="govuk-width-container">
    <div class="body-block">
    <div class="govuk-grid-row">
      
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-one-half">
                    <div class="card">
                    <h2 class="govuk-heading-s">Manage an existing benefit, payment or claim</h2>
                    <p class="govuk-body-s">
                      Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims.
                    </p>
                  </div>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <div class="card">
                    <h2 class="govuk-heading-s">Benefits and financial support if you're looking for work </h2>
                    <p class="govuk-body-s">
                      Help if you're looking for a new job, are out of work or affected by redundancy. Includes Universal Credit and Jobseeker’s Allowance (JSA).
  </p>
                    </div>
                  </div>            
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s">Manage an existing benefit, payment or claim</h2>
      <p class="govuk-body-s">
        Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims.
      </p>
    </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s">Benefits and financial support if you're looking for work </h2>
      <p class="govuk-body-s">
        Help if you're looking for a new job, are out of work or affected by redundancy. Includes Universal Credit and Jobseeker’s Allowance (JSA).
</p>
      </div>
    </div>            
</div>
</div>

<div class="govuk-grid-column-one-third">
  <div class="financial-support-checklist">
  <h2 class="govuk-heading-s">Financial support checklist</h2>
  <p class="govuk-body">Find out what support you're entitled to</p>

<div class="checklist-card">
  <p class="body govuk-!-font-size-16 govuk-!-font-weight-bold">
    Check if you're entitled to other benefits
  </p>
  <p class="body govuk-!-font-size-16">
   <a href="#">Start now</a>
    </p>

</div>

</div>

</div>
            
         

          </div>
        </div>
        </div>

  


  </div>
</div>
{% endblock %}

