{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body white-link"><a href="#">Home</a></p>
                <h1 class="govuk-heading-xl">Benefits</h1>

                <p class=""govuk-body-l">Includes eligibility, appeals, tax credits and Universal Credit
                </p>
            
          </main>
        </div>
      </div>
      <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </div>
</div>
</div>
    


  <div class="govuk-width-container">
    <div class="body-block">
    <div class="govuk-grid-row">
      
            <div class="govuk-grid-column-two-thirds padding-top: govuk-spacing(30);">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-one-half">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="#">Manage an existing benefit, payment or claim</a></h2>
                    <p class="govuk-body-s">
                      Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims.
                    </p>
                  </div>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="#">Benefits and financial support if you're looking for work</a> </h2>
                    <p class="govuk-body-s">
                      Help if you're looking for a new job, are out of work or affected by redundancy. Includes Universal Credit and Jobseeker’s Allowance (JSA).
  </p>
                    </div>
                  </div>            
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support if you're temporarily unable to work</a></h2>
      <p class="govuk-body-s">
        Help if you’re unable to work because you’re ill or self-isolating. Includes Universal Credit and Employment and Support Allowance (ESA).

    </p>
    </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support for families</a></h2>
      <p class="govuk-body-s">
        Help if you look after children or plan to have or adopt a child. Includes Child Benefit.

    </p>
      </div>
    </div>            
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support if you're disabled or have a health condition</a></h2>
      <p class="govuk-body-s">
        Help if you're living with a health condition or disability. Includes Employment and Support Allowance (ESA).

    </p>
    </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support if you're caring for someone</a> </h2>
      <p class="govuk-body-s">
        Help if you regularly spend time caring for someone. Includes Universal Credit.

    </p>
      </div>
    </div>            
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support if you're on a low income    </a></h2>
      <p class="govuk-body-s">
        Help with heating, housing and other living costs. Includes Universal Credit.

    </p>
    </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="card">
      <h2 class="govuk-heading-s"><a href="#">Benefits and financial support when someone dies</a> </h2>
      <p class="govuk-body-s">
        Help with costs and funeral expenses after someone has died. Includes Universal Credit.

    </p>
      </div>
    </div>            
</div>
</div>

<div class="govuk-grid-column-one-third">
  <div class="financial-support-checklist">
  <h2 class="govuk-heading-s">Financial support checklist</h2>
  <p class="govuk-body">Find out what support you're entitled to</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-heading-s">
          What best describes your circumstances? 
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            I'm on a low income
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            I'm unemployed
          </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-3">
              I'm state pension age (66)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-4">
              I'm having a baby
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-5">
              I have a child
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-6">
              I'm a carer
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-6">
              I need support when someone dies
            </label>
          </div>
      </div>
    </fieldset>
  </div>

</div>

</div>
            
         

          </div>
        </div>
        </div>

  


  </div>
</div>
{% endblock %}

