{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Iterations</h2>

    <div class="flow-block">
      <h3 class="govuk-heading-m">v2 - Find financial support</h3>
    <ol class="govuk-list govuk-list--number">
      <li><p><a href="v2-initial-step.html" id="page-list">Initial step on benefits page</a></p></li>
      <li><p><a href="v2-statements.html" id="page-list">Questions on benefits page</a></p></li>
      <li><p><a href="v2-outcomes.html" id="page-list">Outcome page</a></p></li>


      </ol>
    </div>

  <hr></hr>

    <h2 class="govuk-heading-m">Prototypes tested w/c 21 August 2023</h2>
    <div class="flow-block">
    <h3 class="govuk-heading-m">Financial support checklist flow</h3>

    <ol class="govuk-list govuk-list--number">
    <li><p><a href="/benefits-topic-customised" id="page-list">Benefits topic page for national support</a></p></li>
    <li><p><a href="/benefits-topic-customised-results" id="page-list">List of results in side bar</a></p></li>
    <li><p><a href="/financial-checklist-results-page" id="page-list">Expanded results page</a></p></li>
  </ol>
</div>



<div class="flow-block">
  <h3 class="govuk-heading-m">Local support checklist flow</h3>

  <ol class="govuk-list govuk-list--number">
  <li><p><a href="/benefits-topic-local" id="page-list">Benefits topic page for local support</a></p></li>
  <li><p><a href="/benefits-topic-local-results" id="page-list">Local support results</a></p></li>

</ol>
</div>


<div class="flow-block">
  <h3 class="govuk-heading-m">Situated calculator for passported benefits</h3>

  <ol class="govuk-list govuk-list--number">
  <li><p><a href="/benefits-topic-calc" id="page-list">Benefits topic page for situated calculator</a></p></li>
  <li><p><a href="/benefits-topic-calc-results-4" id="page-list">Calculator results</a></p></li>

</ol>
</div>

<!--

    <div class="page-list">
    <h3 class="govuk-heading-m">All pages</h3>
    <p><a href="/benefits-topic-1" id="page-list">Financial support checklist – card type</a></p>
    <p><a href="/benefits-topic-customised" id="page-list">Financial support checklist – tailored lists </a></p>
    <p><a href="/financial-topic-customised-results" id="page-list">List of results in side bar</a></p>
    <p><a href="/financial-checklist-results-page" id="page-list">Expanded results page</a></p>
-->


  </div>
  </div>
</div>

{% endblock %}
