{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <div class="page-list">
    <h2 class="govuk-heading-l">Pages</h2>
    <p><a href="/benefits-topic-1" id="page-list">Financial support checklist – card type</a></p>
    <p><a href="/benefits-topic-customised" id="page-list">Financial support checklist – tailored lists </a></p>

    <p>...</p>
  </div>
  </div>
</div>

{% endblock %}
