{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
    Find financial support</h1>

            <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
        Your situation</h2>
    </div>
         <div class="govuk-grid-column-one-third change-link">
          <p><a href="#" id="changeLink">Change</a></p>
         </div>
        </div>

    <div class="section-chunk your-situation">
      
      <div class="your-situation-saved-mode">
        <div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row"></div>
        </dl>
       
     </div>
   </div>
  </div>

            

        <div class="your-situation-edit-mode">
             <p class="govuk-body">Select all statements that apply</p>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="low-income" data-value="I'm on a low income">
            <label class="govuk-label govuk-checkboxes__label" for="countries">
              I’m on a low income
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="unemployed" data-value="I'm unemployed">
            <label class="govuk-label govuk-checkboxes__label" for="countries-2">
              I’m unemployed
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="pension-age" data-value="I'm state pension age" checked>
            <label class="govuk-label govuk-checkboxes__label" for="countries-3">
              I’m state pension age
            </label>
          </div>
        
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="having-baby" data-value="I'm having a baby">
              <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                I’m having a baby
              </label>
            </div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-6" name="countries" type="checkbox" value="have-child" data-value="I have a child">
                <label class="govuk-label govuk-checkboxes__label" for="countries-6">
                  I have a child
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-7" name="countries" type="checkbox" value="carer" data-value="I look after someone" checked>
                <label class="govuk-label govuk-checkboxes__label" for="countries-7">
                  I look after someone
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-8" name="countries" type="checkbox" value="support-for-death" data-value="I need support because someone has died">
                <label class="govuk-label govuk-checkboxes__label" for="countries-8">
                  I need support because someone has died
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-9" name="countries" type="checkbox" value="support-for-disability" data-value="Myself or my child have a disability or a long-term health condition">
                <label class="govuk-label govuk-checkboxes__label" for="countries-9">
                    Myself or my child have a disability or a long-term health condition
                </label>
              </div>
              <div class="spacer-2">
                <button class="govuk-button govuk-button--primary" data-module="govuk-button" id="saveLink">
                 Save
                </button>
              </div>
            </div>
          </div>
            
        
    

    <h2 class="govuk-heading-m">
        Add your information</h2>
        <div class="section-chunk">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                 
        
                        
                        <div class="add-criteria">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend">
                                 <p class="govuk-body-m">What is your date of birth?</p>
                                </legend>
                             
                                <div class="govuk-date-input" id="passport-issued">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                </div>
                              </fieldset>

                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                  <legend class="govuk-fieldset__legend">
                                      <p class="govuk-body-m">Are you in temporary, sheltered or supported housing?</p>
                                     </legend>
                              
                                  <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="housing" name="housing" type="radio" value="housing" data-aria-controls="conditional-contact">
                                      <label class="govuk-label govuk-radios__label" for="housing">
                                        Yes
                                      </label>
                                    </div>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="housing" name="housing" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="housing">
                                          No
                                        </label>
                                      </div>
                                  </div>
                                </div>
                                </fieldset>
                                <div class="govuk-form-group spacer-2">
                                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                      <legend class="govuk-fieldset__legend">
                                          <p class="govuk-body-m">Are you looking for work?</p>
                                         </legend>
                                  
                                      <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                          <label class="govuk-label govuk-radios__label" for="contact">
                                            Yes
                                          </label>
                                        </div>
                                        <div class="govuk-radios" data-module="govuk-radios">
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                              No
                                            </label>
                                          </div>
                                      </div></div>
                                    </fieldset>
                                </div>
                                <div class="spacer-2">
                                    <button class="govuk-button" data-module="govuk-button">
                                        Update results
                                       </button>
                                    </div>
                                </div>
              
                    </div>
                </div>
              
                </div>

                </div>
            </div>
        </div>
    </div>
              

    <div class="results-container">
    <div class="govuk-width-container">
         <h2 class="govuk-heading-m">
                    Results</h2>
                    <p>4 benefits</p>
    
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">

                <div class="calc-card-v3">
                <h2 class="govuk-heading-m">Pension credit</h2>
                    <p class="govuk-body-m">
                      Pension credit gives you extra money to help with your living costs.
                    </p>

                    <div class="govuk-grid-row line">
                      <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">How much?</h3>
                        <p>Text</p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                          <h3 class="govuk-heading-s">Frequency</h3>
                          <p>Text</p>
                        </div>
                      </div>

                        <div class="govuk-grid-row line">
                          <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-s">Eligibility</h3>
                            <p>Text</p>
                            </div>
                            <div class="govuk-grid-column-one-half">
                              <h3 class="govuk-heading-s">When to claim</h3>
                              <p>Text</p>
                            </div>
                       
                          </div>
                          <p class="govuk-body">  
                            <a href="#">Find out more about Pension credit</a>
                          </p>
                </div>
            </div>
                
                                    <div class="govuk-grid-column-one-half">
                                      <div class="calc-card-v3">
                                        <h2 class="govuk-heading-m">Winter fuel payment</h2>
                                            <p class="govuk-body-m">
                                              Help paying your heating bills
                                            </p>
                        
                                            <div class="govuk-grid-row line">
                                              <div class="govuk-grid-column-one-half">
                                                <h3 class="govuk-heading-s">How much?</h3>
                                                <p>Text</p>
                                                </div>
                                                <div class="govuk-grid-column-one-half">
                                                  <h3 class="govuk-heading-s">Frequency</h3>
                                                  <p>Text</p>
                                                </div>
                                              </div>
                        
                                                <div class="govuk-grid-row line">
                                                  <div class="govuk-grid-column-one-half">
                                                    <h3 class="govuk-heading-s">Eligibility</h3>
                                                    <p>Text</p>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                                      <h3 class="govuk-heading-s">When to claim</h3>
                                                      <p>Text</p>
                                                    </div>
                                               
                                                  </div>
                                                  <p class="govuk-body">  
                                                    <a href="#">Find out more about Pension credit</a>
                                                  </p>
                                        </div>
              </div>
  </div>
</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="calc-card-v3">
          <h2 class="govuk-heading-m">Discounted TV licence</h2>
              <p class="govuk-body-m">
                You can get a free or discounted TV licence
              </p>

              <div class="govuk-grid-row line">
                <div class="govuk-grid-column-one-half">
                  <h3 class="govuk-heading-s">How much?</h3>
                  <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s">Frequency</h3>
                    <p>Text</p>
                  </div>
                </div>

                  <div class="govuk-grid-row line">
                    <div class="govuk-grid-column-one-half">
                      <h3 class="govuk-heading-s">Eligibility</h3>
                      <p>Text</p>
                      </div>
                      <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">When to claim</h3>
                        <p>Text</p>
                      </div>
                 
                    </div>
                    <p class="govuk-body">  
                      <a href="#">Find out more about Pension credit</a>
                    </p>
          </div>
    </div>
        
                            <div class="govuk-grid-column-one-half">
                              <div class="calc-card-v3">
                                <h2 class="govuk-heading-m">Housing credit</h2>
                                    <p class="govuk-body-m">
                                      Helps you pay rent if you’re unemployed, on a low income or claiming benefits
                                    </p>
                
                                    <div class="govuk-grid-row line">
                                      <div class="govuk-grid-column-one-half">
                                        <h3 class="govuk-heading-s">How much?</h3>
                                        <p>Text</p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                          <h3 class="govuk-heading-s">Frequency</h3>
                                          <p>Text</p>
                                        </div>
                                      </div>
                
                                        <div class="govuk-grid-row line">
                                          <div class="govuk-grid-column-one-half">
                                            <h3 class="govuk-heading-s">Eligibility</h3>
                                            <p>Text</p>
                                            </div>
                                            <div class="govuk-grid-column-one-half">
                                              <h3 class="govuk-heading-s">When to claim</h3>
                                              <p>Text</p>
                                            </div>
                                       
                                          </div>
                                          <p class="govuk-body">  
                                            <a href="#">Find out more about Pension credit</a>
                                          </p>
                                </div>
      </div>
</div>
</div>
</div>
</div>
</div>
</main>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/filter-benefits.js"></script>
{% endblock %}