{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

   
    <h1 class="govuk-heading-xl">
    Find financial support</h1>



        <div class="section-chunk">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        Add your information</h2>
        
                        
                        <div class="add-criteria">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                <legend class="govuk-fieldset__legend">
                                 <p class="govuk-body-m">What is your date of birth?</p>
                                </legend>
                             
                                <div class="govuk-date-input" id="passport-issued">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                </div>
                               
                              </fieldset>
                              <div class="govuk-form-group spacer-2">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                  <legend class="govuk-fieldset__legend">
                                      <p class="govuk-body-m">Are you in temporary, sheltered or supported housing?</p>
                                     </legend>
                              
                                  <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                      <label class="govuk-label govuk-radios__label" for="contact">
                                        Yes
                                      </label>
                                    </div>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          No
                                        </label>
                                      </div>
                                  </div>
                                </fieldset>
                                <div class="govuk-form-group spacer-2">
                                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                      <legend class="govuk-fieldset__legend">
                                          <p class="govuk-body-m">Are you looking for work?</p>
                                         </legend>
                                  
                                      <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                          <label class="govuk-label govuk-radios__label" for="contact">
                                            Yes
                                          </label>
                                        </div>
                                        <div class="govuk-radios" data-module="govuk-radios">
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                              No
                                            </label>
                                          </div>
                                      </div>
                                    </fieldset>

                                      </div>
              </div>


      

           
                
                <button class="govuk-button" data-module="govuk-button">
                    Update results
                   </button>
                </div>

                </div>

                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        Your situation</h2>
                        <p class="govuk-body">Select all statements that apply</p>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="low-income">
                        <label class="govuk-label govuk-checkboxes__label" for="countries">
                          I’m on a low income
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="unemployed">
                        <label class="govuk-label govuk-checkboxes__label" for="countries-2">
                          I’m unemployed
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="pension-age" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="countries-3">
                          I’m state pension age
                        </label>
                      </div>
                    
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="having-baby">
                          <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                            I’m having a baby
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="countries-6" name="countries" type="checkbox" value="have-child">
                            <label class="govuk-label govuk-checkboxes__label" for="countries-6">
                              I have a child
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="countries-7" name="countries" type="checkbox" value="carer" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="countries-7">
                              I’m a carer
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="countries-8" name="countries" type="checkbox" value="support-for-death">
                            <label class="govuk-label govuk-checkboxes__label" for="countries-8">
                              I need support because someone has died
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="countries-9" name="countries" type="checkbox" value="support-for-disability">
                            <label class="govuk-label govuk-checkboxes__label" for="countries-9">
                                Myself or my child have a disability or a long-term health condition
                            </label>
                          </div>            
                     </div>
                    </div>
                </div>

              
                <h2 class="govuk-heading-m">
                    4 benefits</h2>
    
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <div class="calc-card-v3">
                <h2 class="govuk-heading-s">Pension credit</h2>
                    <p class="govuk-body-m">
                      Some text</p>
               <p>  <a href="#">A link</a></p> 
    
                </div>
            </div>
                
                                    <div class="govuk-grid-column-one-half">
                    <div class="calc-card-v3">
                        <h2 class="govuk-heading-s">Carer's allowance</h2>
                        <p class="govuk-body-m">
                            Some text</p>
                     <p>  <a href="#">A link</a></p> 
                        
                </div>
              </div>
  </div>
</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="calc-card-v3">
        <h2 class="govuk-heading-s">Council tax reduction</h2>
        <p class="govuk-body-m">
            Some text</p>
     <p>  <a href="#">A link</a></p> 

        </div>
    </div>
        
                            <div class="govuk-grid-column-one-half">
            <div class="calc-card-v3">
            <h2 class="govuk-heading-s">Discounted TV allowance</h2>
            <p class="govuk-body-m">
                Some text</p>
         <p>  <a href="#">A link</a></p> 

                
        </div>
      </div>
</div>
</div>
</div>



{% endblock %}
