{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block main %}

<main class="govuk-main-wrapper govuk-!-padding-bottom-0" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Find financial support</h1>

        <div class="view" id="mySituationForm">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Your situation</h2>
            </div>
            <div class="govuk-grid-column-one-third change-link">
              <p class="govuk-body-m">
                <a class="change" href="#" aria-controls="mySituationFormSavedMode" aria-expanded="false">Change <span class="govuk-visually-hidden">your situation</span></a>
              </p>
            </div>
          </div>

          <div class="section-chunk">
            <div class="saved-mode" id="mySituationFormSavedMode">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row"></div>
                  </dl>
                </div>
              </div>
            </div>

            <div class="your-situation-edit-mode form-mode">
              <p class="govuk-body caption">Select all statements that apply</p>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="low-income" data-value="I'm on a low income" />
                <label class="govuk-label govuk-checkboxes__label" for="countries"> I’m on a low income </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="unemployed" data-value="I'm unemployed" />
                <label class="govuk-label govuk-checkboxes__label" for="countries-2"> I’m unemployed </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="pension-age" data-value="I'm state pension age" checked />
                <label class="govuk-label govuk-checkboxes__label" for="countries-3"> I’m state pension age </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="having-baby" data-value="I'm having a baby" />
                <label class="govuk-label govuk-checkboxes__label" for="countries-5"> I’m having a baby </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-6" name="countries" type="checkbox" value="have-child" data-value="I have a child" />
                <label class="govuk-label govuk-checkboxes__label" for="countries-6"> I have a child </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-7" name="countries" type="checkbox" value="carer" data-value="I look after someone" checked />
                <label class="govuk-label govuk-checkboxes__label" for="countries-7"> I look after someone </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-8" name="countries" type="checkbox" value="support-for-death" data-value="I need support because someone has died" />
                <label class="govuk-label govuk-checkboxes__label" for="countries-8"> I need support because someone has died </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-9" name="countries" type="checkbox" value="support-for-disability" data-value="Myself or my child have a disability or a long-term health condition" />
                <label class="govuk-label govuk-checkboxes__label" for="countries-9"> Myself or my child have a disability or a long-term health condition </label>
              </div>
              <div class="spacer-2">
                <button class="govuk-button govuk-button--primary govuk-!-margin-bottom-0 save" data-module="govuk-button" aria-controls="mySituationFormSavedMode" aria-expanded="false">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="view" id="myInformationForm">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Add more information</h2>
            </div>
            <div class="govuk-grid-column-one-third change-link">
              <p class="govuk-body-m">
                <a class="change" href="#" aria-controls="yourInformationFormFormMode" aria-expanded="true">Cancel <span class="govuk-visually-hidden">your information</span></a>
              </p>
            </div>
          </div>

          <div class="section-chunk">
            <div class="form-mode" id="yourInformationFormFormMode">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="add-criteria" id="yourInformationForm">
                    <form method="POST" action="/" id="myForm">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                          <legend class="govuk-fieldset__legend caption">Do you already get Universal Credit, Pension Credit, or Housing Benefit?</legend>

                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit[yes]" name="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit" type="radio" value="Yes" data-aria-controls="conditional-contact" />
                              <label class="govuk-label govuk-radios__label" for="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit[yes]"> Yes </label>
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit[no]" name="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit" type="radio" value="No" data-aria-controls="conditional-contact" />
                                <label class="govuk-label govuk-radios__label" for="do_you_already_get_universal_credit,_pension_credit,_or_housing_benefit[no]"> No </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                          <legend class="govuk-fieldset__legend">What is your date of birth?</legend>

                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="what_is_your_date_of_birth[day]"> Day </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="what_is_your_date_of_birth[day]" name="what_is_your_date_of_birth[day]" type="text" inputmode="numeric" />
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="what_is_your_date_of_birth[month]"> Month </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="what_is_your_date_of_birth[month]" name="what_is_your_date_of_birth[month]" type="text" inputmode="numeric" />
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="what_is_your_date_of_birth[year]"> Year </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="what_is_your_date_of_birth[year]" name="what_is_your_date_of_birth[year]" type="text" inputmode="numeric" />
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                          <legend class="govuk-fieldset__legend">Are you in temporary, sheltered or supported housing?</legend>

                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="are_you_in_temporary,_sheltered_or_supported_housing[yes]" name="are_you_in_temporary,_sheltered_or_supported_housing" type="radio" value="Yes" data-aria-controls="conditional-contact" />
                              <label class="govuk-label govuk-radios__label" for="are_you_in_temporary,_sheltered_or_supported housing[yes]"> Yes </label>
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="are_you_in_temporary,_sheltered_or_supported_housing[no]" name="are_you_in_temporary,_sheltered_or_supported_housing" type="radio" value="No" data-aria-controls="conditional-contact" />
                                <label class="govuk-label govuk-radios__label" for="are_you_in_temporary,_sheltered_or_supported housing[no]"> No </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                          <legend class="govuk-fieldset__legend">Are you looking for work?</legend>

                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="are_you_looking_for_work[yes]" name="are_you_looking_for_work" type="radio" value="Yes" data-aria-controls="conditional-contact" />
                              <label class="govuk-label govuk-radios__label" for="are_you_looking_for_work[yes]"> Yes </label>
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="are_you_looking_for_work[no]" name="are_you_looking_for_work" type="radio" value="No" data-aria-controls="conditional-contact" />
                                <label class="govuk-label govuk-radios__label" for="are_you_looking_for_work[no]"> No </label
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <button class="govuk-button govuk-button--primary govuk-!-margin-bottom-0 save" type="submit" id="formButton" data-module="govuk-button" aria-controls="mySituationFormSavedMode" aria-expanded="true">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="saved-mode">
              <div id="yourInformation">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                      <div class="govuk-summary-list__row"></div>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="results-container">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">Results</h2>
      <p>4 benefits</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="calc-card-v3">
                <h3 class="govuk-heading-m">Pension credit</h3>
                <p class="govuk-body-m">Pension credit gives you extra money to help with your living costs.</p>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">How much?</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Frequency</h4>
                    <p>Text</p>
                  </div>
                </div>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Eligibility</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">When to claim</h4>
                    <p>Text</p>
                  </div>
                </div>
                <p class="govuk-body cta">
                  <a href="#">Find out more about Pension credit</a>
                </p>
              </div>
            </div>

            <div class="govuk-grid-column-one-half">
              <div class="calc-card-v3">
                <h3 class="govuk-heading-m">Winter fuel payment</h3>
                <p class="govuk-body-m">Help paying your heating bills</p>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">How much?</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Frequency</h4>
                    <p>Text</p>
                  </div>
                </div>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Eligibility</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">When to claim</h4>
                    <p>Text</p>
                  </div>
                </div>
                <p class="govuk-body cta">
                  <a href="#">Find out more about Pension credit</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="calc-card-v3">
                <h3 class="govuk-heading-m">Discounted TV licence</h3>
                <p class="govuk-body-m">You can get a free or discounted TV licence</p>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">How much?</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Frequency</h4>
                    <p>Text</p>
                  </div>
                </div>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Eligibility</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">When to claim</h4>
                    <p>Text</p>
                  </div>
                </div>
                <p class="govuk-body cta">
                  <a href="#">Find out more about Pension credit</a>
                </p>
              </div>
            </div>

            <div class="govuk-grid-column-one-half">
              <div class="calc-card-v3">
                <h3 class="govuk-heading-m">Housing credit</h3>
                <p class="govuk-body-m">Helps you pay rent if you’re unemployed, on a low income or claiming benefits</p>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">How much?</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Frequency</h4>
                    <p>Text</p>
                  </div>
                </div>

                <div class="govuk-grid-row line">
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Eligibility</h4>
                    <p>Text</p>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">When to claim</h4>
                    <p>Text</p>
                  </div>
                </div>
                <p class="govuk-body cta">
                  <a href="#">Find out more about Pension credit</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %} {% block pageScripts %}
<script src="/public/javascripts/filter-benefits.js"></script>
{% endblock %}
